<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>StringsTable</key>
    <string>ThirdPartyLicenses</string>
    <key>PreferenceSpecifiers</key>
    <array>
      <dict>
        <key>Type</key>
        <string>PSChildPaneSpecifier</string>
        <key>Title</key>
        <string>AcknowledgementGenerator</string>
        <key>File</key>
        <string>Acknowledgement-AcknowledgementGenerator</string>
      </dict>
      <dict>
        <key>Type</key>
        <string>PSChildPaneSpecifier</string>
        <key>Title</key>
        <string>ACPDownload</string>
        <key>File</key>
        <string>Acknowledgement-ACPDownload</string>
      </dict>
      <dict>
        <key>Type</key>
        <string>PSChildPaneSpecifier</string>
        <key>Title</key>
        <string>Alamofire</string>
        <key>File</key>
        <string>Acknowledgement-Alamofire</string>
      </dict>
      <dict>
        <key>Type</key>
        <string>PSChildPaneSpecifier</string>
        <key>Title</key>
        <string>AlamofireImage</string>
        <key>File</key>
        <string>Acknowledgement-AlamofireImage</string>
      </dict>
      <dict>
        <key>Type</key>
        <string>PSChildPaneSpecifier</string>
        <key>Title</key>
        <string>CSStickyHeaderFlowLayout</string>
        <key>File</key>
        <string>Acknowledgement-CSStickyHeaderFlowLayout</string>
      </dict>
      <dict>
        <key>Type</key>
        <string>PSChildPaneSpecifier</string>
        <key>Title</key>
        <string>Decodable</string>
        <key>File</key>
        <string>Acknowledgement-Decodable</string>
      </dict>
      <dict>
        <key>Type</key>
        <string>PSChildPaneSpecifier</string>
        <key>Title</key>
        <string>FontAwesome</string>
        <key>File</key>
        <string>Acknowledgement-FontAwesome</string>
      </dict>
      <dict>
        <key>Type</key>
        <string>PSChildPaneSpecifier</string>
        <key>Title</key>
        <string>Moya</string>
        <key>File</key>
        <string>Acknowledgement-Moya</string>
      </dict>
      <dict>
        <key>Type</key>
        <string>PSChildPaneSpecifier</string>
        <key>Title</key>
        <string>NSLogger</string>
        <key>File</key>
        <string>Acknowledgement-NSLogger</string>
      </dict>
      <dict>
        <key>Type</key>
        <string>PSChildPaneSpecifier</string>
        <key>Title</key>
        <string>ReachabilitySwift</string>
        <key>File</key>
        <string>Acknowledgement-ReachabilitySwift</string>
      </dict>
      <dict>
        <key>Type</key>
        <string>PSChildPaneSpecifier</string>
        <key>Title</key>
        <string>Result</string>
        <key>File</key>
        <string>Acknowledgement-Result</string>
      </dict>
      <dict>
        <key>Type</key>
        <string>PSChildPaneSpecifier</string>
        <key>Title</key>
        <string>SnapKit</string>
        <key>File</key>
        <string>Acknowledgement-SnapKit</string>
      </dict>
      <dict>
        <key>Type</key>
        <string>PSChildPaneSpecifier</string>
        <key>Title</key>
        <string>STRegex</string>
        <key>File</key>
        <string>Acknowledgement-STRegex</string>
      </dict>
      <dict>
        <key>Type</key>
        <string>PSChildPaneSpecifier</string>
        <key>Title</key>
        <string>UIImage-Color</string>
        <key>File</key>
        <string>Acknowledgement-UIImage-Color</string>
      </dict>
      <dict>
        <key>Type</key>
        <string>PSChildPaneSpecifier</string>
        <key>Title</key>
        <string>XCGLogger</string>
        <key>File</key>
        <string>Acknowledgement-XCGLogger</string>
      </dict>
      <dict>
        <key>Type</key>
        <string>PSChildPaneSpecifier</string>
        <key>Title</key>
        <string>XCGLoggerNSLoggerConnector</string>
        <key>File</key>
        <string>Acknowledgement-XCGLoggerNSLoggerConnector</string>
      </dict>
    </array>
  </dict>
</plist>
